[submodule "BabelWires"]
	path = BabelWires
	url = https://github.com/Malcohol/BabelWires.git
[submodule "BabelWiresAudio"]
	path = BabelWiresAudio
	url = https://github.com/Malcohol/BabelWiresAudio
[submodule "BabelWiresPlugins/Smf/Tests/Data/test-midi-files"]
	path = BabelWiresPlugins/Smf/Tests/test-midi-files
	url = https://github.com/jazz-soft/test-midi-files.git
